<div class="SL">
	<div class="post" style="margin-bottom: 40px;">
		<div class="p-head">
			<h1>{{ page.title }}</h1>
			
			{% capture this_year %}{{ page.date | date: "%Y" }}{% endcapture %}
			{% capture this_month %}{{ page.date | date: "%b" }}{% endcapture %}
			{% capture this_day %}{{ page.date | date: "%d" }}{% endcapture %}
	
			<small class="p-time">
				<strong class="day">{{this_day}}</strong>
				<strong class="month">{{this_month}}</strong>
				<strong class="year">{{this_year}}</strong>
			</small>
			<div class="p-cat">
				Published: <span>{{ page.date | date_to_long_string }}</span> <small>Supporting tagline</small> 
			</div>
		</div>
	    <div class="p-con">
    	{{ content }}
		</div>
	    <hr>
	    <div class="pagination">
	      <ul>
	      {% if page.previous %}
	        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
	      {% else %}
	        <li class="prev disabled"><a>&larr; Previous</a></li>
	      {% endif %}
	        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
	      {% if page.next %}
	        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
	      {% else %}
	        <li class="next disabled"><a>Next &rarr;</a>
	      {% endif %}
	      </ul>
	    </div>
	</div>
    <hr>
    {% include JB/comments %}



   

</div>
